<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreateContact</title>
</head>
<body>
<form action="/register" method="POST">
    <label>Id</label>
    <input type="number" name="Id"><br>
    <label>Name</label>
    <input type="text" name="name"><br>
    <label>MobileNo</label>
    <input type="number" name="MobileNo"><br>
    <label>City</label>
    <input type="text" name="City"><br>
    <label>Profession</label>
    <input type="text" name="Profession"><br>
    <input type="submit" name="submit" value="Register">

